@gutter: 10px;

@border:    #DDDDDD;
@primary:   #3963CE;
@secondary: #FA3072;
@red:       #B5172F;

@import "mixins";
@import "grid";

html, body {
	height: 100%;
}

body {
	padding: 50px;
	padding-left: 300px;
}

body, input, select, textarea {
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.nav {
	.box-shadow(inset -5px 0px 5px rgba(0, 0, 0, 0.1));
	.gradient(@primary, darken(@primary, 10%));
	padding-top: 50px;
	position: fixed;
		top: 0; left: 0; bottom: 0;
	width: 250px;
	li {
		a {
			color: white;
			display: block;
			font-weight: 700;
			padding: 10px 20px;
			text-transform: uppercase;
			&:hover {
				.opacity(1);
				background: rgba(0, 0, 0, 0.2);
			}
		}
		ul {
			li {
				a {
					font-size: 10px;
					padding: 5px 20px;
					&:before {
						.opacity(.2);
						content: "\f111";
					    font-family: FontAwesome;
					    font-style: normal;
					    font-weight: normal;
					    margin-right: 5px;
					    text-decoration: inherit;
					}
				}
			}
		}
	}
}

h1 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
}
h3 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.small {
	color: #444;
	font-size: 12px;
	a {
		color: #666;
		font-weight: 400;
		text-decoration: underline;
	}
}

a {
	.transition;
	color: @primary;
	font-weight: 700;
	text-decoration: none;
	&:hover {
		.opacity(.5);
	}
}

.fade { &:hover { .opacity(.5); } }

.btn {
	.fade;
	.rounded;
	.gradient(@primary, darken(@primary, 10%));
	color: white;
	display: inline-block;
	font-weight: 700;
	padding: 10px 20px;
	&.float-left { margin-right: 10px; }
	&.float-right { margin-left: 10px; }
	i {
		margin-right: 5px;
	}
}

table {
	border-collapse: collapse;
	margin-bottom: 40px;
	width: 100%;
	th, td {
		border: 1px solid @border;
		padding: 10px;
		text-align: left;
	}
}

.pagination {
	margin-bottom: 40px;
	.clearfix;
	li {
		float: left;
		margin-right: 5px;
		span, a {
			.rounded;
			color: #333;
			display: block;
			height: 30px;
			min-width: 30px;
			padding: 5px;
			text-align: center;
		}
		a {
			background: @border;
		}
		&.active {
			span {
				background: #333;
				color: white;
			}
		}
	}
}


form {
	label {
		display: block;
		font-weight: 700;
		margin-bottom: 5px;
	}
	input:not([type='submit']):not([type='checkbox']), select, textarea {
		border: 1px solid @border;
		height: 40px;
		margin-bottom: 20px;
		padding: 9px;
		width: 100%;
		&:focus {
			border-color: @primary;
		}
	}
	textarea {
		height: 300px;
	}
	.select2 {
		margin-bottom: 20px;
	}
	input[type='submit'] {
		.btn;
		margin-bottom: 20px;
	}

	input[type='checkbox'] {
		display: none;
	}
	input[type='checkbox'] + label {
		.rounded;
		.transition;
		background: #F0F0F0;
		border: 3px solid @border;
		border-right: 20px solid @border;
		display: inline-block;
		padding: 5px;
	}
	input[type='checkbox']:checked + label {
		.rounded;
		background: darken(@primary, 5%);
		border: 3px solid @primary;
		border-left: 20px solid @primary;
		color: white;
		display: inline-block;
		padding: 5px;
	}



	div.error {
		.rounded;
		background: @red;
		color: white;
		margin-top: -15px;
		margin-bottom: 20px;
		padding: 10px;
	}
}

.alert {
	.rounded;
	background: @primary;
	color: white;
	margin-bottom: 40px;
	padding: 20px;
	&.alert-error { background: @red; }
	.alert-close {
		.fade;
		color: white;
		float: right;
	}
}

.well {
	.rounded;
	background: #F0F0F0;
	border: 1px solid @border;
	margin-bottom: 40px;
	padding: 20px;
}

.map {
	background: #F0F0F0;
	border: 1px solid @border;
	margin-bottom: 20px;
	min-height: 300px;
	padding: 10px;
	width: 100%;
}