.grid {
	.clearfix;
	margin-right: -@gutter;
	[class*='col-'] {
		float: left;
		padding-right: @gutter;
	}
	.col-1   { width: 100%; } .col-1-2 { width: 50%; } .col-1-3 { width: 33.33%; } .col-2-3 { width: 66.66%; } .col-1-4 { width: 25%; }
 	.col-3-4 { width: 75%; } .col-1-5 { width: 20%; } .col-2-5 { width: 40%; } .col-3-5 { width: 60%; } .col-4-5 { width: 80%; } .col-1-6 { width: 16.66%; } 
	.col-5-6 { width: 83.33%; } .col-1-8 { width: 12.5%; }.col-3-8 { width: 37.5%; } .col-5-8 { width: 62.5%; } .col-7-8 { width: 62.5%; } .col-1-10 { width: 10%; }
}