@gutter: 40px;

@background: #F4F5F9;
@border:     #D0D5E1;
@primary:    #3963CE;
@alt:        #4AB7CA;
@text:       #525870;
@text_2:     #868CA6;

@green:      #42B5B4;
@blue:       #216695;
@light_blue: #439BD6;
@light:      #F1F9FC;
@headline:   #243842;
@paragraph:  #506067;
@grey:       #CED7DF;
@error:      #D22D5F;

@facebook:    #3b5998;

@import "mixins";
@import "grid";

body {
	display: flex;
  	flex-direction: column;
	color: @paragraph;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
  	min-height: 100vh;
}

.c {
	margin: 0 auto;
	max-width: 1240px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

h1, h2, h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
}

h3 {
	color: @text_2;
	font-size: 16px;
	line-height: 20px;
}

p {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	.transition;
	color: inherit;
	text-decoration: none;
}

.btn {
	.rounded;
	background: @primary;
	color: white;
	cursor: pointer;
	font-weight: 700;
	height: 40px;
	line-height: 20px;
	padding: 10px 20px;
}

header {
	.header-top {
		.clearfix;
		background: @light;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 20px 0;
		.call {
			float: right;
			margin-left: 40px;
			text-transform: uppercase;
			font-size: 11px;
			a {
				font-weight: 600;
				margin-left: 10px;
			}
		}
		.top-menu {
			float: right;
			li {
				float: left;
				margin-left: 20px;
				a {
					display: block;
					text-transform: uppercase;
					font-size: 11px;
				}
			}
		}
	}
	.header-main {
		.clearfix;
		.drop-shadow(0, 2px, 4px, 0.1);
		background: white;
		position: relative;
		z-index: 2000;
		#logo {
			float: left;
			margin-top: 15px;
			margin-bottom: 25px;
			img {
				.transition;
				display: block;
				height: 100px;
				width: auto;
			}
		}
		.menu-toggle {
			display: none;
		}
		&.scrolled {
			#logo {
				img {
					height: 60px;
				}
			}
			.main-menu {
				margin: 25px 0;
			}
		}
	}
}

.main-menu {
	.clearfix;
	margin: 45px 0;
	float: right;
	li {
		float: left;
		margin-left: 40px;
		a {
			color: @headline;
			display: block;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
			padding: 15px 0;
			text-transform: uppercase;
			&:hover {
				color: @green;
			}
		}
		&:last-child {
			a {
				.rounded(2px);
				background: @green;
				border-bottom: 3px solid rgba(0, 0, 0, 0.1);
				padding: 15px 20px 12px;
				color: white;
				&:hover {
					background: lighten(@green, 10%);
				}
			}
		}
	}
}




.breadcrumbs {
	background: @blue;
	ul {
		.clearfix;
		padding: 20px 0;
		li {
			float: left;
			a {
				color: white;
				font-size: 14px;
				font-weight: 600;
				display: block;
				&:after {
					color: rgba(255, 255, 255, 0.6);
					content: "\f105";
				    font-family: FontAwesome;
				    font-style: normal;
				    font-weight: normal;
				    margin: 0 10px;
				    text-decoration: inherit;
				}
			}
			&:last-child {
				a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
.main {
	flex: 1;
	padding: 40px 0;
}


footer {
	.footer-main {
		background: @headline;
		padding-bottom: 40px;
		.logo {
			float: left;
			margin-top: 15px;
			margin-bottom: 65px;
			img {
				display: block;
				height: 100px;
				width: auto;
			}
		}
		.main-menu {
			li {
				a {
					color: white;
					&:hover {
						color: @green;
					}
				}
				&:last-child {
					a {
						&:hover {
							color: white;
						}
					}
				}
			}
		}
		h3 {
			color: white;
			font-size: 14px;
			margin-bottom: 20px;
		}
		p, ul {
			color: rgba(255, 255, 255, 0.6);
			font-size: 12px;
			line-height: 30px;
		}
	}
	.footer-bottom {
		.clearfix;
		padding: 40px 0 200px;
		background: #222;
		p {
			float: left;
			font-size: 14px;
		}
		ul {
			float: right;
			li {
				float: left;
				margin-left: 20px;
				a {
					font-size: 14px;
					text-decoration: underline;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}


.location-preview {
	border: 1px solid @border;
	margin-bottom: 20px;
	padding: 20px;
}
.pagination {
	.clearfix;
	li {
		float: left;
		margin-right: 5px;
		span, a {
			.rounded;
			color: @text;
			display: block;
			height: 30px;
			min-width: 30px;
			padding: 5px;
			text-align: center;
		}
		a {
			background: @border;
		}
		&.active {
			span {
				background: @text;
				color: white;
			}
		}
	}
}

.map, .external {
	background: @background;
	border: 1px solid @border;
	height: 300px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

#map {
	height: 100%;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
	th, td {
		border: 1px solid @border;
		padding: 10px;
		text-align: left;
	}
}

@media (max-width: 1240px) {

	.grid {
		margin-right: 0;
		[class*='col-'] {
			float: none;
			padding-right: 0;
			width: 100%;
		}
	}

	body {
		padding-top: 80px;
		&.menu-open {
			margin-right: 300px;
			margin-left: -300px;
			header {
				.header-main {
					left: -300px;
					right: 300px;
				}
			}
		}
	}

	header {
		.header-top {
			display: none;
		}
		.header-main { 
			height: 80px;
			position: fixed;
				top: 0; left: 0; right: 0;
			#logo {
				margin: 10px 0;
				img {
					height: 60px;
					width: auto;
				}
			}
			.menu-toggle {
				display: block;
				color: @headline;
				float: right;
				font-size: 30px;
				line-height: 40px;
				padding: 20px;
				text-align: center;
				width: 60px;
			}
			.main-menu {
				.clearfix;
				.transition;
				background: #222;
				margin: 0; 
				padding: 20px;
				position: fixed;
					top: 0; right: -300px; bottom: 0;
				width: 300px;
				&.open {
					right: 0;
				}
				> li {
					float: none;
					margin: 0;
					a {
						color: white;
						padding: 10px 15px;
						text-transform: none;
						&:after {
							display: none;
						}
						&:hover {
							.opacity(1);
							color: @green;
						}
					}
					&:last-child {
						&:hover {
							background: lighten(@green, 10%);
						}
					}
				}
			}
		}
	}

	.questions {
		.question {
			margin-bottom: 20px;
		}
	}

	.front-page-hero {
		padding-top: 120px;
		h1 {
			font-size: 40px;
			line-height: 50px;
		}
	}

	footer {
		.footer-main {
			.main-menu {
				display: none;
			}
		}
	}

}

@media (max-width: 1080px) {

	h1, h2, h3 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 14px;
		line-height: 20px;
	}

	.main {
		padding: 20px 0;
	}

	.front-page-hero {
		.front-page-hero-cred {
			.arrow-text {
				display: none;
			}
			.orgs {
				float: left;
				li {
					line-height: 40px;
					margin-left: 0;
					margin-right: 40px;
					img {
						height: 40px;
					}
				}
			}
		}
	}
}

@media (max-width: 620px) {
	.front-page-hero {
		padding-top: 100px;
		h1 {
			font-size: 30px;
			line-height: 40px;
		}
		.get-started {
			display: block;
			float: none;
			font-size: 18px;
			margin-bottom: 20px;
			width: 100%;
			&:hover {
				background: lighten(@blue, 10%);
				.scale(1.05);
			}
		}
		.learn-more {
			display: block;
			float: none;
			margin: 0 0 20px 0;
			width: 100%;
		}
	}
}

@media (max-width: 500px) {
	.front-page-hero {
		.orgs {
			float: none;
			width: 100%;
			li {
				float: left;
				margin-left: 0 !important;
				margin-right: 0 !important;

				width: 33.33%;
				&:first-child {
					display: none;
				}
				img {
					margin: 0 auto;
				}
			}
		}
	}
}